* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}
header {
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 60px;
}
header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}
header > a {
    font-size: 22px;
    font-style: italic;
}

h1 {
    margin: 0 0 17px 0;
    text-align: left;
    /*font-size: 6em;*/
}

h1, h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
    margin-bottom: 20px;
}
section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
    margin-bottom: 200px;
}
.heroText {
    font-size: 2em;
    color: #050038;
    margin: 0 0 55px 0;
}

nav {
    padding: 33px 50px;
    margin-bottom: 60px;
    margin: 0 auto;
    max-width: 1200px;
}

nav ul {
    list-style: square inside;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 34px;
    list-style-type: none;
}
ul > li {
    font-size: 2rem;
    margin-bottom: 1rem;
}
ul li:nth-last-child(2) {
    color: red;
}
#hero {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}
.heroForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heroForm + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
    margin: 8px 0 52px 0;
    text-align: center;
}
.heroLogos {
    display: flex;
    align-items: center;
    gap: 20px;
}
.heroForm input {
    border-radius: 32px;
    border: 1px solid #9B99AF;
    height: 48px;
    padding: 5px 10px;
}
.heroForm input:focus {
    background-color: #061a7a;
}

.img__logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.section__text {
    color: rgba(5, 0, 56, 0.6);
    margin: 0 0 40px 0;
}

#heroButton {
    background-color: #4262FF;
    color: #FFF;
    transition: background-color 10s 1s, border-radius 10s 1s;
    /*transition: background-color 10s 2s, border-radius 10s 2s;*/
    
}
#heroButton:hover {
    background-color: #253cad;
    border-radius: 50%;
    
}
/*
#heroButton.test.test2 {
    background-color: #4262FF;
}
*/
#heroButton:active {
    background-color: #3c9600;
}

.link {
    color: #4262FF;
    text-decoration: underline;
}
.link:hover {
    color: #122db6;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}


.sectionList {
    list-style-type: none;
    /*list-style: url('../image/check.svg');*/
}
.sectionList li::after {
    content: url(../image/check.svg);
}

.heroForm button {
    height: 48px;
    border-radius: 32px;
    border: 1px solid #4262FF;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#heroButton {
    height: 3em;
    border-radius: 2em;
    border: 1px solid #4262FF;
    padding: 1em 2em;
    font-size: 1em;
}

.exp div {
    width: clamp(200px, 50%, 600px);
    height: 200px;
    background-color: #4262FF;
    margin: 10px;
    color: white;
    font-size: 24px;

    animation: my-move 2s ease forwards;
}


.exp:hover div {
    animation-play-state: paused;
}
*/

footer {
    background-color: #050038;
    padding: 46px 40px;
}
footer a {
    color: white;
    text-decoration: none;
}









