ul li:first-child {
    color: #6C38CC;
}
ul li:last-child {
    color: aquamarine;
}

header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}
header > a {
    font-size: 22px;
    font-style: italic;
}

h1, h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
}
p {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}
.heroText{
    color: #050038;
}
.section__text {
    color: rgba(5, 0, 56, 0.6);
}



#heroButton {
    background-color: #4262FF;
    color: #FFF;
}
#heroButton:hover {
    background-color: #030a2b;
}
#heroButton:active {
    background-color: #3c9600;
}
.link {
    color: #4262FF;
    text-decoration: underline;
}
.link:hover {
    color: #061a7a;
}

.heroForm + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
}
.heroForm input:focus {
    background-color: #061a7a;
}

