h1, h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
}
p {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}
.heroText{
    color: #050038;
}
.section__text {
    color: rgba(5, 0, 56, 0.6);
}



#heroButton {
    background-color: #4262FF;
    color: #FFF;
}
.link {
    color: #4262FF;
    text-decoration: underline;
}

