body {
    margin: 0px;
}

nav {
    padding: 33px 50px;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 60px;
}
nav ul {
    list-style: square inside;
    padding: 0;
    margin: 0;
    
}
ul li:nth-last-child(2) {
    color: red;
}

footer {
    background-color: #050038;
    padding: 46px 40px;
}
footer a {
    color: white;
    text-decoration: none;
}

.heroForm + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
    margin: 8px 0 52px 0;
}
.heroForm input:focus {
    background-color: #061a7a;
}

.heroText{
    color: #050038;
    margin: 0 0 55px 0;
}

.section__text {
    color: rgba(5, 0, 56, 0.6);
    margin: 0 0 40px 0;
}

#heroButton {
    background-color: #4262FF;
    color: #FFF;
}
#heroButton:hover {
    background-color: #030a2b;
}
/*
#heroButton.test.test2 {
    background-color: #4262FF;
}
*/
#heroButton:active {
    background-color: #3c9600;
}

.link {
    color: #4262FF;
    text-decoration: underline;
}
.link:hover {
    color: #122db6;
}

header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}
header > a {
    font-size: 22px;
    font-style: italic;
}

h1 {
    margin: 0 0 17px 0;
    text-align: center;
}

h1, h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
    margin-bottom: 20px;
}
p {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}


.sectionList {
    list-style-type: none;
    /*list-style: url('../image/check.svg');*/
}
.sectionList li::after {
    content: url(../image/check.svg);
}

input#email {
    height: 38px;
    border-radius: 32px;
    border: 1px solid #9B99AF;
    padding: 5px 10px;
}
.heroForm button {
    height: 48px;
    border-radius: 32px;
    border: 1px solid #4262FF;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#hero {
    font-size: 16px;
}
h1 {
    font-size: 6em;
}
.heroText {
    font-size: 2em;
}
#heroButton {
    height: 3em;
    border-radius: 2em;
    border: 1px solid #4262FF;
    padding: 1em 2em;
    font-size: 1em;
}



