/* Section */

.section_light {
    background-color: var(--color-bg-medium);
}

/* Button */
.button {
    padding: 16px 32px;
    color: var(--color-text);
    background: none;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    border-radius: var(--border-10);
    cursor: pointer;
}

.button__primary {
    background: var(--color-primary);
}
.button__primary:hover {
    background: var(--color-primary-hover);
}

.button__ghost {
    border: 1px solid var(--color-stroke);
}
.button__ghost:hover {
    background: var(--color-bg-medium);
}

@media (max-width: 640px) {
    .button {
        padding: 12px 32px;
    }
}

/* Social */
.social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}
.social-icons__icon {
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-8);
    text-decoration: none;
    padding: 11px;
    width: 48px;
    height: 48px;
}
.social-icons__icon:hover {
    background-color: var(--color-bg-medium);
}









