.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero__h1 {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: var(--color-text);
}
.hero__h1_gradient {
    background-color: var(--gradient);
    -webkit-background-color: var(--gradient);
    -webkit-background-clip: text;
    /*
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    */
    background-clip: text;

    color: #8444D3;
    
}

.hero__cta {
    display: flex;
    gap: 32px;
}

.button-more {
    text-align: center;
}

.chip_wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    overflow: scroll;
    margin-right: -24px;
    margin-left: -24px;
    padding-left: 24px;
    scrollbar-width: none;
}
.chip_wrapper::-webkit-scrollbar {
  display: none;
}

.courses_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
}

.trust-wrapper {
    display: grid;
    grid-template-columns: [start] repeat(3, 1fr) [end];
    gap: 0 75px;
}
.trust-wrapper__top {
    grid-column: start / end;
}
.trust-wrapper__stat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 70px;
}
.trust-wrapper__num {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /*text-fill-color: transparent;*/
}
.trust-wrapper__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
}

.trust-wrapper__h3 {
    grid-column: start / end;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-text);
}
.trust-wrapper__rating {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 70px;
}
.trust-wrapper__rate {
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    color: var(--color-text);
}

@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
    }
    .hero__h1 {
        text-align: center;
    }
    .hero__cta {
        justify-content: center;
    }
    .trust-wrapper {
        grid-template-columns: [start] repeat(2, 1fr) [end];
    }
    
}
@media (max-width: 640px) {
    .hero__h1 {
        font-size: 30px;
        line-height: 120%;
    }
    .hero__right {
        width: 100%;
    }  
    .hero {
        padding: 0 24px;
    }
    .trust-wrapper {
        grid-template-columns: [start] 1fr [end];
    }
}
@media (max-width: 480px) {
    
    .hero__cta {
        gap: 16px;
    }
}


/* Blog review */
/*
.section__blog {
    padding: 100px 46px;
}
.section__blog-header {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-secondary);
    margin-bottom: 8px;
}
.section__blog-wrapper {
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 32px;
}
.section__blog-item {
    max-width: 790px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-text);
    margin-bottom: 48px;
}

.section__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}
.section__list-link {
    border-radius: var(--border-10);
    margin: 70px;
    background-color: var(--color-bg-light);
}
.section__list-title {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: var(--gradient);
    margin: 48px 0 16px;
    text-align: center;
}
.section__ratings {
    background-color: var(--color-bg-light);
    margin: 70px;
    border-radius: var(--border-10);
}
.section__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 48px;
    text-align: center;
}
.section__rating-item {
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    color: var(--color-text);
}
.section__rating-list {
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 32px;
}
.section__rating-title {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    margin-bottom: 100px;
}
.section__ratings {
    display: grid;
    grid-template-columns: 2fr;
}
*/




