.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero__h1 {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: var(--color-text);
}
.hero__h1_gradient {
    background-color: var(--gradient);
    -webkit-background-color: var(--gradient);
    -webkit-background-clip: text;
    /*
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    */
    background-clip: text;

    color: #8444D3;
    
}

.hero__cta {
    display: flex;
    gap: 32px;
}

.button-more {
    text-align: center;
}

.chip_wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    overflow: scroll;
    margin-right: -24px;
    margin-left: -24px;
    padding-left: 24px;
    scrollbar-width: none;
}
.chip_wrapper::-webkit-scrollbar {
  display: none;
}

.courses_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
    }
    .hero__h1 {
        text-align: center;
    }
    .hero__cta {
        justify-content: center;
    }
    
}
@media (max-width: 640px) {
    .hero__h1 {
        font-size: 30px;
        line-height: 120%;
    }
    .hero__right {
        width: 100%;
    }  
    .hero {
        padding: 0 24px;
    }
}
@media (max-width: 480px) {
    
    .hero__cta {
        gap: 16px;
    }
}









/*
.descr__wrap {
    padding: 100px 32px 100px;

    max-width: var(--layout-width);
    margin: 0 auto;
}
.descr__title-info {
    color: var(--color-area);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 10px;
}
.descr__title-link {
    color: var(--color-text);
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    margin-bottom: 32px;
}
.descr__title-item {
    color: var(--color-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;
}
.social__title {
    margin-bottom: 48px;
}
.descr-icons {
    margin-bottom: 48px;
}
*/

/* blog info 
.blog__info {
    display: flex;
    flex-direction: column;
}
.blog__info-title {
    margin-bottom: 36px;
}
.blog__info-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__info-date {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.blog__info-third {
    display: flex;
    margin-left: 32px;
    color: var(--color-link-hover);
}
.blog__info-third img {
    margin-right: 6px;
}
.third {
    margin-right: 32px;
}
.blog__info-descr {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;  
    color: var(--color-text);
    margin-bottom: 12px;
}
.blog__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;  
    color: var(--color-text);
    margin-bottom: 14px;
    max-width: 740px;
}
.blog__info-buttons > button {
    padding: 16px 32px;
    border-radius: 10px;
    border: 1px solid var(--color-bg-medium);
}
.blog__info-buttons > button:hover {
    background-color: #4D5064;
}
.blog__btn {
    text-align: center;
}
*/


