

.aline {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Header */
.header {
    background: var(--color-primary);
    padding-top: 52px;

    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 100% 360px;
}
.header__inner {
    padding-bottom: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__menu {
    display: flex;
    /*
    justify-content: space-around;
    align-items: center;
    */
}
.nav__menu-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin: 0 20px;
    
}
.nav__menu-link a {
    color: var(--color-text);
}
.nav__menu-link:hover a {
    opacity: 0.5;
}
.nav__menu-btn {
    padding: 12px 32px;
    border-radius: var(--border-radius-34);
    background-color: var(--color-text);
    color: var(--color-primary);
    border: none;

    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
}
.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
@media (max-width: 1060px) {
    .menu {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
    }
    .nav__menu-btn {
        display: none;
    }
}

/* header middle */
.header__middle {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 80px;
}
.header__middle-left {
    margin-right: 17px;
}
.header__middle-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 40px;
}
.middle__btn {
    margin-bottom: 80px;
}
.header__middle-logo {
    padding-bottom: 246px;
}
.header__middle-right img{
    max-width: 900px;
    height: 600px;
}
@media (max-width: 1320px) {
    .header__middle-right img {
        width: 700px;
        height: 460px;
    }
}
@media (max-width: 1160px) {
    .header__inner {
        padding-bottom: 20px;
    }
    .header__middle-right img {
        display: none;
    }
    .middle__btn {
        text-align: center;
    }
    .header__middle-title {
        text-align: center;
    }
}
@media (max-width: 1320px) {
    .header__middle-title {
        font-size: 32px;
    }
}
@media (max-width: 620px) {
    .header__middle-title {
        font-size: 22px;
    }
    .header__middle-logo {
        padding-bottom: 190px;
    }
    .header__middle-logo img {
        width: 70%;
    }
}
/* */

/* section statik */
.section__statik-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 144px;
}
.section__statik-element {
    display: flex;
    align-items: center;
    max-width: 410px;
    margin: 20px;
}
.section__statik-element img {
    margin-right: 5px;
}
.section__statik-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-black);
}

/* statik-item */
.statik__item {
    padding-bottom: 120px;
}
.statik__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.statik__item-link {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;
}
.statik__item-depear {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-text-gradient);
    padding: 0 20px;
}
.img_one {
    margin-left: 34px;
}
.img_two {
    margin-right: 34px;
}
.statik__item-placeholder {
    position: relative;
    right: 364px;
    top: 80px;
}
.item-lens {
    position: relative;
    right: 330px;
    top: 80px;
}
.lens1, .lens2, .lens3 {
    margin-bottom: 160px;
}
@media (max-width: 660px) {
    .img_one {
        max-width: 100%;
        margin-left: -75px;
    }
}
@media (max-width: 1200px) {
    .statik__item-title {
        flex-wrap: wrap;
    }
    .statik__item-link {
        text-align: center;
        padding: 0 20px;
    }
    .statik__item-depear {
        text-align: center;
    }
    .lens1, .lens2, .lens3 {
        margin-bottom: 70px;
    }
    .statik__item-placeholder {
        position: relative;
        left: 70px;
        top: -312px;
    }
    .item-lens {
        position: relative;
        right: 0px;
        top: -170px;
    }
    .statik__item {
        padding-bottom: 0px;
    }
}
/* */


/* section saving */
.section__saving {
    background-color: var(--color-primary);
    padding: 120px 0px;
    position: relative;
}
.section__saving-time {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 24px;
    padding: 0 20px;
}
.section__saving-nerves {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: var(--color-text);
    margin-bottom: 40px;
    padding: 0 120px;
}
.section__saving-btn  {
    text-align: center;
    margin-bottom: 64px;
}
.section__saving-btn button {
    padding: 12px 32px;
    border-radius: var(--border-radius-34);
    color: var(--color-primary);
    font-size: 17px;
    font-weight: 800;
}
.section__saving-trafic {
    text-align: center;
    margin-bottom: 64px;
}
@media (max-width: 760px) {
    .section__saving-time {
        font-size: 36px;
    }
    .section__saving-nerves {
        padding: 0px 70px;
    }
}
@media (max-width: 500px) {
    .section__saving-btn button {
        font-size: 14px;
    }
}
/*
.trafic__img1 {
    margin-left: 100px;
    z-index: 22;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
*/
.trafic__img2 {
    width: 80%;
}

.saving-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.saving-list-descr {
    margin-right: 70px;
    margin-left: 50px;
}
.saving-list-descr div {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 24px;
}
.saving__list-item {
    list-style-image: url(../images/exclamation-circle.png);
    
}
.saving__list-item2 {
    list-style-image: url(../images/check-circle.png);
}
/* */

/* section__SSL */
.section__SSL {
    padding: 120px 0px 160px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.ssl__encryption {
    margin: 40px;
}
.ssl__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
}
.ssl__encryption-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--color-black);
    margin-bottom: 20px;
}
.ssl__encryption-item {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text-gradient);
}

.section__functional {
    padding-bottom: 120px;
}
.section__functional-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 24px;
}
.section__functional-item {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    color: var(--color-text-gradient);
    margin-bottom: 40px;
}
/* */

/* section__customer */
.section__customer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.customer__image {
    width: 80%;
}
.customer__support {
    margin-left: 70px;
}
.customer__support-client {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--color-text);

    margin: 80px 0px 24px 0px;
}
.customer__support-descr {
    min-width: 400px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text);
    opacity: 0.8;
    margin-bottom: 40px;
}
.customer__all {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.customer__all a {
    display: contents;
}
.areas {
    margin-left: 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text);
}
.customer__support-item {
    min-width: 420px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    margin: 20px 0px 80px 0px;
    color: var(--color-text);
    opacity: 0.8;
}

@media (max-width: 1100px) {
    .customer__support-client {
        text-align: center;
        font-size: 36px;
    }
    .customer__support-descr {
        text-align: center; 
        padding: 0 40px;
        min-width: 0;
    }
    .customer__all {
        text-align: center;
    }
    .customer__all a {
        display: block;
        margin: 0 auto;
    }
    .customer__support-item {
        text-align: center;
        padding: 0 40px;
        min-width: 0;
    }
}
/* */

.section__wrapper {
    font-family: "Winky Rough", sans-serif;
    display: grid;
    justify-items: center;
}

.section__link-item {
    max-width: 370px;
    padding: 90px 40px 48px 40px;
    margin: 0 24px;
    background-color: #fff;
    border: 1px solid red;
    box-shadow: -15px 0 10px 0 rgba(0,0,0,0.2), 
    15px 0 10px 0 rgba(0,0,0,0.2);; 

    transition: all 0.3s ease;
}
.section__link-item:hover {
    background-color: #357EFE;
}

.section__title-descr {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    display: block;
    margin: 80px 0 24px;
}
.section__title-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    color: var(--color-descr);
    margin-bottom: 40px;
}
.section__link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section__link-descr {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    text-align: left;
    margin-bottom: 16px;
    position: relative;
}
.link-depear::after,.link-depear2::after  {
    content: 'выгода 25%';
    padding: 4px 16px;
    background-color: #1ABC9C;
    color: var(--color-text_area);
    border-radius: var(--border-radius-8);

    position: absolute;
    bottom: 44px;
    left: 13px;
    font-size: 15px;
}
.link-depear2::after {
    content: 'выгода 50%';
}
.section__link-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text);
    margin-bottom: 50px;
}
ul li {
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    list-style: none;
    margin-bottom: 30px;
    margin-left: -40px;
}
.list__lite {
    margin-bottom: 40px;
}
.item_text {
    background-color: yellow;
    padding: 8px 16px;
}
.link-descr {
    margin-left: 25px;
}
.link-descr2 {
    margin-left: 70px;
}
.link-descr3 {
    margin-left: 20px;
}
.btn__title {
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    
    padding: 12px 62px;
    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
    border-radius: var(--border-radius);
}
.btn__title:hover {
    background-color: #357EFE;
}

@media (max-width: 620px) {
    .section__wrapper {
        margin: 0 20px;
    }
    .section__link-item {
        max-width: 90%;
        margin: 20px 12px 0px 12px;
    }
    .section__title-text {
        margin: 20px 12px 20px 12px;
}
    .section__title-descr {
        font-size: 36px;
    }
    .btn__title {
        width: 100%;
    }
    .section__link {
        grid-template-columns: 1fr;
    }
}

/* section reviews */
.section__reviews {
    margin-bottom: 80px;
}
.section__reveiews-middle {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-black);
    padding: 80px 0px 40px 0px;
    text-align: center;
}
.slider__item-title {
    padding: 40px;
    background-color: var(--color-primary);
}
.slider__item img {
    width: 600px;
    height: 500px;
}
.slider__item-descr {
    font-weight: 800;
    font-size: 26px;
    line-height: 140%;
    color: var(--color-text);
    margin: 60px 40px 60px 40px;
}
.slider__item-author {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: var(--color-text);
    margin-bottom: 10px;
    margin-left: 40px;
}
.slider__item-author-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-text);
    margin-bottom: 10px;
    margin-left: 40px;
}

.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slider {
    position: relative;
    padding: 0px 50px;
}
.slider__item {
    display: flex;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -25px 0px 0px 0px;
    z-index: 22;
    font-size: 0;
    width: 70px;
    height: 70px;
}
.slider .slick-arrow.slick-prev {
    background: url('../images/arrow_l.png') 0 0 / 100% no-repeat;
    left: 50px;
}
.slider .slick-arrow.slick-next {
    background: url('../images/arrow_r.png') 0 0 / 100% no-repeat;
    right: 50px;
} 


@media (max-width: 1140px) {
    .slider__item img {
        width: 45%;
    }
    .slider__item-title {
        padding: 10px;
    } 
}
@media (max-width: 860px) {
    .slider__item {
        flex-direction: column-reverse;
    }
    .slider__item img {
        width: 100%; 
    }
    .slider__item-descr {
        margin: 40px 20px 40px 20px;
    }
    .slider__item img {
        height: 420px;
    }
}
/* footer */
.footer {
    background: var(--color-grey);
}
.footer__inner {
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    padding: 80px 60px 100px 60px;
}

.footer__left-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text);
    opacity: 0.7;
}
.footer__inner-left {
    position: relative;
    top: 20px;
}
.footer__inner-left2 {
    margin-bottom: 16px;
}
.footer__list-item, .footer__depear-item, .footer__right-item {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text);
    opacity: 0.5;
}
.footer__right-tel {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
}
.footer__tel {
    color: var(--color-text);
}

.footer__inner2 {
    padding: 32px 0px;
}
.gorizontal-linies {
    color: #272B32;
    opacity: 0.8;
}
.footer__inner2_title {
    display: flex;
    justify-content: space-between;
    padding: 32px 60px;
}
.footer__inner2-author {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-text);
    opacity: 0.5;
}

.footer__inner-left, .footer__list, .footer__depear, .footer__right {
    margin: 40px 40px;
}

@media (max-width: 990px) {
    .footer__inner {
        flex-wrap: wrap;
    }
}
@media (max-width: 740px) {
    .footer__inner2_title {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__inner2-author {
        margin-bottom: 40px;
    }
}